* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(90deg, rgba(0, 66, 219, 1) 0%, rgba(0, 155, 219, 1) 50%, rgba(0, 197, 219, 1) 100%);
    width: 100%;
}

.header {
    width: 100%;
    padding: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
}

.header .logoAAPP {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    padding-bottom: 5px;
}

.header div {
    /* display: inline-block; */
    vertical-align: top;
    padding: 0px;
}

.horarios {
    display: block;
    margin-top: 3px;
}

.logoAAPP {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.infoHeader {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 150px);
}

img,
button {
    vertical-align: middle;
}

.grupo {
    font-size: 16px;
    font-weight: bold;
}

.logoAAPP img,
.logoAAPP button {
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.verGrupos img {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 50px;
    max-height: 35px;
    width: 28px;
}

#btn-lista {
    padding: 10px;
    position: absolute;
    right: 60px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* height: 50px; */
    /* max-height: 35px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s ease, transform 0.2s ease;
    display: inline-block;
    font-weight: bold;
    /* vertical-align: middle; */
    color: white;
}

#btn-lista:hover {
    cursor: pointer;
}

.pestanas {
    width: 100%;
    padding: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.pestanas a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    /* transition: background-color 0.3s ease; */
    box-sizing: border-box;
    border: 1px solid white;
    transition: 0.3s ease, transform 0.2s ease;
    display: inline-block;
}

.pestanas a:hover {
    background: linear-gradient(90deg, rgba(0, 66, 219, 0.5) 0%, rgba(0, 155, 219, 0.5) 50%, rgba(0, 197, 219, 0.5) 100%);
    transform: scale(1.04);
}

.pestanas a.activo {
    background: linear-gradient(90deg, rgba(0, 66, 219, 0.5) 0%, rgba(0, 155, 219, 0.5) 50%, rgba(0, 197, 219, 0.5) 100%);
    color: white;
    font-weight: bold;
    transform: scale(1.08);
}

.pestanas a:first-child {
    margin-left: 0;
}

.pestanas a:last-child {
    margin-right: 0;
}

.pestanas a:active {
    background-color: rgba(64, 10, 212, 0.747);
}

nav button {
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 10px;
    box-sizing: border-box;
    transition: 0.3s ease, transform 0.2s ease;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
}

#btn-cargar {
    margin-left: auto;
}

#btn-guardar {
    margin-right: 0;
}

#contenedorTabla {
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: visible;
}

.tabla-estudiantes {
    border-collapse: collapse;
    margin: 0 auto;
    width: calc(100% - 30px);
    border: 2px solid white;
    color: white;
}

.tabla-estudiantes th {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid white;
}

.tabla-estudiantes tbody td {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    border: 2px solid white;
}

.tabla-estudiantes tbody tr {
    height: 97px;
    vertical-align: middle;
}

td[contenteditable="true"]:focus {
    outline: 2px solid white;
    background-color: rgba(0, 0, 0, 0.15);
}

.editable {
    position: relative;
}

.editable::after {
    content: "✏️";
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.2s;
}

.editable:hover::after {
    opacity: 1;
}

.editable:focus::after {
    opacity: 0;
}

.tabla-estudiantes th:first-child,
.tabla-estudiantes td:first-child {
    width: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.tabla-estudiantes th:nth-child(2),
.tabla-estudiantes td:nth-child(2),
.tabla-estudiantes th:nth-child(3),
.tabla-estudiantes td:nth-child(3) {
    width: 300px;
    text-align: center;
}

.tabla-estudiantes th:nth-child(4),
.tabla-estudiantes td:nth-child(4) {
    width: 150px;
    text-align: center;
}

/* Ocultar columna 4 por defecto */
.tabla-estudiantes th:nth-child(3),
.tabla-estudiantes td:nth-child(3) {
    display: none;
}

.modo-lista th:nth-child(3),
.modo-lista td:nth-child(3) {
    display: table-cell;
}

.tabla-estudiantes.modo-lista {
    width: 530px;
    /* width: fit-content; */
}

/* Ocultar columnas 5 en adelante */
.modo-lista th:nth-child(n+5),
.modo-lista td:nth-child(n+5) {
    display: none;
}

.estado-asistencia {
    font-size: 26px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.15s ease;
    display: inline-block;
}

.estado-asistencia:hover {
    transform: scale(1.25);
}

.asistio {
    color: #04a81f;
}

.no-asistio {
    color: #ff1744;
}

@keyframes popAsistencia {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.pop {
    animation: popAsistencia 0.25s ease;
}

.foto-estudiante {
    max-height: 97px;
    object-fit: cover;
}

.foto-estudiante:hover {
    transform: scale(1.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#panel-lista {
    display: none;
}

#panel-lista.visible {
    display: flex;
    gap: 10px;
    justify-self: center;
    /* align-items: center; */
    margin-bottom: 15px;
}

#panel-lista input[type="date"] {
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#panel-lista button {
    padding: 8px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#btn-guardar {
    transition:
        background-color 0.4s ease,
        transform 0.2s ease,
        box-shadow 0.3s ease;
}

@media (max-width: 1025px) {
    .header {
        padding: 8px;
        font-size: 12px;
    }

    .grupo {
        font-size: 13px;
        width: 50px;
    }

    .verGrupos img {
        right: 8px;
        top: 8px;
        height: 30px;
        width: 24px;
    }

    .tabla-estudiantes {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .tabla-estudiantes th:nth-child(2),
    .tabla-estudiantes td:nth-child(2),
    .tabla-estudiantes th:nth-child(3),
    .tabla-estudiantes td:nth-child(3) {
        width: 150px;
        text-align: center;
    }

    .tabla-estudiantes {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .tabla-estudiantes th:nth-child(2),
    .tabla-estudiantes td:nth-child(2),
    .tabla-estudiantes th:nth-child(4),
    .tabla-estudiantes td:nth-child(4) {
        width: 150px;
        text-align: center;
    }

    .foto-estudiante {
        height: 95px;
        width: 80px;
        object-fit: cover;
    }

    .verGrupos {
        display: none;
    }

    #btn-lista {
        padding: 5px;
        top: 15px;
    }

    .header div {
        display: inline;
        padding-right: 0;
    }

    .header.grupo {
        width: 100px;
        font-size: 11px;
    }

    .logoAAPP img,
    .logoAAPP button {
        height: 50px;
        padding-bottom: 5px;
    }

    .pestanas {
        align-items: center;
        display: flex;
        overflow-x: auto;
        padding: 5px;
    }

    .pestanas a {
        margin: 5px;
        padding: 10px;
    }

    .pestanas a:first-child {
        margin: 5px;
    }

    .pestanas a:last-child {
        margin-right: 0;
    }

    .pestanas a:active {
        margin: 5px;
        transform: none;
    }

    .tabla-estudiantes tbody td {
        height: 80px;
    }
}